.container-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.container-row {
    display: flex;
    flex-direction:row;
    align-items:center;
}

.no-margin {
    margin:0
}

.image {
    width: 8rem;
    height:8rem;
}

.header-link {
    color:black
}